/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

/* utilitis */
.row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.colonna{
    height: 50px;
    width: 60px;
    background-color: black;
}
.colonna-two{
    height: 50px;
    width: 400px;
    background-color: black;
    }


/* header */
header{
    height: 400px;
    background-color: blue;
    margin-bottom: 10px;
}

   

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     height: 300px;
     padding-top: 10px;
}
.riga{
    height: 60px;
    width: 600px;
    background-color: black;
    margin-bottom: 15px;
    
}


/* main  */
.first-article{
    height: 400px;
    background-color: chartreuse;
    margin-bottom: 10px;
}
.second-article{
    height: 400px;
    background-color: violet;
    margin-bottom: 10px;
}
.third-article{
    height: 400px;
    background-color: yellow;
    margin-bottom: 10px;
}
.fourth-article{
    height: 400px;
    background-color: red;
    margin-bottom: 10px;
}
footer{
    height: 400px;
    background-color: black;
}
